<div class="tempofrete" style="margin-top: {{ block.settings.margin_top }}px; margin-bottom: {{ block.settings.margin_bottom }}px;">
    <div style="padding-bottom: 0px">
        <div id="badges-product">
            {%- if block.settings.show_guaranteed_purchase -%}
                <div class="badge">
                    <svg class="badge-icon" width="20" height="16" viewBox="0 0 434.000000 434.000000">
                        <g transform="translate(0.000000,434.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M1900 4094 c-853 -115 -1544 -811 -1655 -1667 -127 -984 494 -1898 1456 -2142 214 -54 506 -70 733 -40 856 114 1547 806 1662 1665 7 58 14 175 14 260 0 317 -63 588 -200 862 -292 584 -853 985 -1489 1064 -143 17 -382 17 -521 -2z m570 -278 c557 -109 1012 -472 1235 -986 180 -414 180 -905 1 -1318 -90 -209 -193 -359 -356 -522 -267 -265 -581 -423 -950 -476 -149 -21 -410 -14 -551 15 -617 126 -1107 574 -1283 1171 -50 168 -60 251 -61 465 0 232 14 329 76 520 167 512 563 908 1074 1073 102 34 203 56 340 76 69 10 393 -3 475 -18z"/>
                            <path d="M2885 2806 c-16 -8 -241 -226 -500 -485 l-470 -471 -216 216 c-231 231 -257 249 -328 233 -21 -5 -49 -22 -68 -43 -28 -30 -33 -43 -33 -85 0 -65 16 -85 322 -387 265 -263 287 -279 359 -255 25 8 184 161 577 554 l542 543 0 49 c0 108 -92 173 -185 131z"/>
                        </g>
                    </svg>
                    <div class="badge-text">
                        <p class="text-badge">
                            <span class="highlight-text">{{ 'product.general.guaranteed_purchase' | t }}:</span>
                            {{ block.settings.guaranteed_purchase_text }}
                        </p>
                    </div>
                </div>
            {%- endif -%}

            {%- if block.settings.show_free_trade -%}
                <div class="badge">
                    <svg class="badge-icon" width="20" height="16" viewBox="0 0 399.000000 399.000000">
                        <g transform="translate(0.000000,399.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M504 3895 c-64 -33 -64 -31 -64 -468 0 -385 1 -395 21 -421 44 -56 45 -56 461 -56 367 0 384 1 416 20 45 28 68 82 53 130 -6 20 -22 47 -37 61 -25 24 -27 24 -277 29 l-252 5 80 69 c292 250 633 385 1020 403 553 25 1083 -228 1416 -677 487 -656 428 -1564 -139 -2152 -151 -157 -284 -254 -477 -348 -525 -257 -1146 -220 -1635 98 -458 297 -737 777 -766 1321 -4 66 -13 128 -21 143 -26 53 -122 77 -171 42 -47 -33 -55 -67 -48 -202 61 -1091 1021 -1913 2106 -1801 819 84 1495 686 1674 1493 217 975 -364 1960 -1324 2246 -198 58 -311 74 -545 74 -225 0 -310 -11 -495 -60 -266 -72 -543 -218 -745 -394 l-70 -61 -5 218 c-3 138 -9 225 -17 238 -32 57 -102 79 -159 50z"/>
                            <path d="M1460 2761 c-463 -175 -496 -189 -517 -220 l-23 -34 0 -572 0 -572 23 -34 c21 -32 53 -45 522 -222 412 -154 507 -187 540 -183 22 2 260 86 530 187 463 174 491 186 512 218 l23 35 -2 583 -3 583 -25 24 c-34 33 -999 396 -1050 395 -19 -1 -258 -85 -530 -188z m816 -162 c148 -55 285 -106 304 -113 l34 -13 -44 -16 c-25 -8 -160 -59 -300 -112 -140 -53 -262 -97 -270 -97 -22 -2 -625 225 -610 230 6 2 141 53 298 112 158 60 294 109 303 109 9 1 138 -44 285 -100z m-986 -347 c14 -6 134 -52 268 -102 133 -50 260 -98 282 -106 l40 -16 0 -403 c0 -222 -3 -406 -7 -408 -5 -2 -165 55 -358 128 l-350 131 -3 412 -2 411 52 -18 c29 -10 64 -24 78 -29z m1528 -775 c-24 -16 -693 -264 -700 -260 -5 2 -8 186 -8 408 l0 403 93 36 c50 20 211 80 357 134 l265 99 3 -406 c2 -321 0 -408 -10 -414z"/>
                        </g>
                    </svg>
                    <div class="badge-text">
                        <p class="text-badge">
                            <span class="highlight-text">{{ 'product.general.free_exchange' | t }}:</span>
                            {{ block.settings.free_trade_text }}
                        </p>
                    </div>
                </div>
            {%- endif -%}
        </div>
    </div>
</div>