<div id="free-shipping" style="margin-top: {{ block.settings.margin_top }}px; margin-bottom: {{ block.settings.margin_bottom }}px;">
    <img src="{{ 'correios.svg' | asset_url  }}" alt="Correios">
    <p>
        <span class="ship-name">{{ 'product.general.free_shipping' | t }}:</span>
        <span class="ship-address"></span>
        <span class="ship-interval"></span>
    </p>
</div>

<script defer="defer">
    function somaDiasUteis(data, dias) {
        if(isNaN(dias) || !(data instanceof Date)) {
            return;
        }

        var dia = data.getDay();
        var diasAdd = parseInt(dias);

        if (dia === 0)
            diasAdd++;

        if (dia + diasAdd >= 6) {
            var diasDeTrabalhoRestante = diasAdd - (5 - dia);
            diasAdd += 2;
            if (diasDeTrabalhoRestante > 5) {
                diasAdd += 2 * Math.floor(diasDeTrabalhoRestante / 5);
                if (diasDeTrabalhoRestante % 5 === 0)
                    diasAdd -= 2;
            }
        }

        data.setDate(data.getDate() + diasAdd);
        return data;
    }

    function estimar() {
        var meses = [ "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
            "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" ];

        var prazoMin = somaDiasUteis(new Date(), {{ block.settings.first_date_free_ship }});
        var prazoMax = somaDiasUteis(new Date(), {{ block.settings.interval_date_free_ship }});

        $.getJSON( "https://wtfismyip.com/json", function(local) {
            var localizacao = local['YourFuckingLocation'];
            var regiao = localizacao.replace(", Brazil", "");

            $(".ship-address").html(`{{ 'product.general.for' | t }}` + " " + regiao + " " + `{{ 'product.general.and_region' | t }}` );
            $(".ship-interval").html(`{{ 'product.general.receive_between' | t }}` + ": " + "<span style='font-weight: 500;'>"+prazoMin.getDate() + " de " + meses[prazoMin.getMonth()] + " e " + prazoMax.getDate() + " de " + meses[prazoMax.getMonth()]);

            $("#free-shipping").css("display", "flex");
        });
    }

    document.addEventListener('shopify:section:load', function (event) {
        estimar();
    });
    estimar();
</script>