{%- if section.settings.show_adbanner -%}
  <section data-section-id="{{ section.id }}" data-section-type="top-banner" data-section-settings="{{ section_settings }}">
      {%- if section.settings.desktop_banner != blank and section.settings.mobile_banner != blank  -%}
        <div id="ad-banner">
          <img id="ad-image" class="banner lazyload">
        </div>
      {%- endif -%}
  </section>

  {% if section.settings.active_infinite_banner %}
    <script>
        $(document).ready(function () {
            $("#ad-banner").simplyScroll();

            $(".banner").on("touchstart", function () {
                this.click();
            });

            {% if section.settings.ad_link %}
                $(".simply-scroll-clip").on("click touchstart", function() {
                    window.location.href = '{{ section.settings.ad_link.url }}';
                });
            {% endif %}
        });
    </script>
  {% endif %}

  <style>
    {% if section.settings.ad_link %}
    #ad-banner {
      cursor: pointer;
    }
    {% endif %}

    #ad-banner {
      background-color: {{ section.settings.background_color }};
    }

    #ad-banner .banner {
      background-color: {{ section.settings.background_color }};
      content: url({{ section.settings.mobile_banner | img_url: '750x83' }});
    }

    @media screen and (min-width: 701px) {
      #ad-banner .banner {
        content: url({{ section.settings.desktop_banner | img_url: '1920x50' }});
      }
    }

    .simply-scroll-container {
      position: relative;
    }

    .simply-scroll-clip {
      position: relative;
      overflow: hidden;
    }

    .simply-scroll-list {
      width: auto !important;
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Banner de anúncio",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_adbanner",
      "label": "Mostrar banner de anúncio",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "active_infinite_banner",
      "label": "Ativar banner infinito",
      "default": false
    },
    {
      "type": "url",
      "id": "ad_link",
      "label": "Link do anúncio",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Imagens"
    },
    {
      "type": "image_picker",
      "id": "desktop_banner",
      "label": "Banner / Desktop",
      "info": "1920 x 60px .png recomendado"
    },
    {
      "type": "image_picker",
      "id": "mobile_banner",
      "label": "Banner / Mobile",
      "info": "750 x 83px .png recomendado"
    },
    {
      "type": "header",
      "content": "Cores"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Cor do fundo",
      "default": "#FE2D48"
    }
  ]
}
{% endschema %}